<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .static {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div class="static">
      <div class="formC">
        <h1>{{formV}}</h1>
        <form action="http://baidu.com">

          <ul>
            <li v-for='i in textvup ' :style='liStyle'>{{i}}</li>
          </ul>
          <input type="text" name="" id="" v-model='textv' @keydown.enter='ina'>
          <input type="checkbox" name="" id="" v-model="checkoneV">
          <p>{{checkoneV}}</p>
          <input type="checkbox" name="" id="" value='aa' v-model='checkallV'>
          <input type="checkbox" name="" id="" value='bb' v-model='checkallV'>
          <p>{{checkallV}}</p>
          <input type="radio" name="" id="" value="man" v-model='radiooneV'>
          <p>{{radiooneV}}</p>
          <input type="radio" name="" id="" value="man" v-model='radioallV'>
          <input type="radio" name="" id="" value="woman" v-model='radioallV'>
          <input type="radio" name="" id="" value="three" v-model='radioallV'>
          <p>{{radioallV}}</p>
          <!-- 单选v-model总是绑定到value值上 -->
          <button type="submit" @click.prevent>提交</button>
          <hr>
        </form>
      </div>
      <div>
        <select name="" id="" v-model='selectV'>
          <option value="" disabled>请选择</option>
          <option value="first">第一</option>
          <option value="secend">第二</option>
        </select>
        <p>选择框-单选{{selectV}}</p>
        <select name="" id="" multiple v-model='selectmulV'>
          <option value="" disabled>请选择</option>
          <option value="first">第一</option>
          <option value="secend">第二</option>
        </select>
        <p>选择框-多选{{selectmulV}}</p>
        <input type="text" name="" id="" v-model.lazy.number='numV'>
        <p>值类型{{typeof numV}}</p>
        <aaa hello-world='hellll' nameAA='nameAA'></aaa>
        <p>{{count}}</p>
        <ccc @like-hi='count++'></ccc>
        <bbb></bbb>
        <hr>
        <p>input++{{inputV}}</p>
        <input-change placeholder='请输入' @change='keyDown' v-bind:syncc='titie' v-on:update:syncc='titie=$event'>
        </input-change>
        <p>{{titie}}</p>
      </div>
    </div>
  </div>
  <script>
    Vue.component('aaa', {
      data() {
        return {
          count: 0
        }
      },
      props: ['helloWorld', 'nameaa'],
      /* 由于heml对于节点 attribute 大小写不敏感，会自动把attribte转为小写  因此我们推荐一直使用短横线写法
        短横线写法 以为这props获取需要写成对应的驼峰式写法
      */
      template: '<div @click="count++">{{count}}---------{{helloWorld}}---{{nameaa}}</div>'
    })
    Vue.component('ccc', {
      data() {
        return {
          count: 0
        }
      },
      template: '<div @click="count++&&$emit(`like-hi`)">{{count}}</div>'
    })
    let vm = new Vue({
      el: '#app',
      data: {
        formV: '',
        textv: '',
        textvup: [],
        checkoneV: true,
        checkallV: ['aa'],
        radiooneV: '',
        radioallV: '',
        liStyle: {
          textAlign: "right"
        },
        selectV: '',
        selectmulV: [],
        numV: null,
        count: 0,
        inputV: '',
        titie: '111'
      },
      computed: {

      },
      watch: {

      },
      components: {
        bbb: {
          data() {
            return {
              countt: 100
            }
          },
          template: '<div @click="countt++">{{countt}}</div>'
        },
        inputChange: {
          data() {
            return {

            }
          },
          inheritAttrs: false,
          props: ['syncc'],
          mounted() {

          },
          computed: {
            inheritEvents() {
              return Object.assign({}, this.$listeners, {
                input(e) {
                  vm.$emit('update:syncc', e.target.value)
                },
                // keyDown(value) {
                //   vm.$emit('update:sync', '2221')
                // }
              })
            }
          },
          methods: {

          },
          template: '<label><input type="text" :value="syncc" v-on="inheritEvents" ></label>'
        }
      },
      methods: {
        ina(e) {
          console.log(e)
          this.textvup.push(this.textv)
          this.textv = ''
        },
        keyDown() {
          console.log(1111)
        }
      },
      created() {

      }
    })
  </script>
</body>

</html>